.header-social {
    background-color: #922c46;
    height: 35px;
}

.logo {
    border-bottom-style: groove;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hiringManager {
    width: 30%;
}